<ion-content [fullscreen]="true">

  <div class="contenedor">
    

    
      
     <div class="boxInput">
      <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="ejemplo@ejemplo.cl"></ion-input>
    </div>

    <div class="boxInput">
      <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"
        placeholder=""></ion-input>
    </div> 

    <div class="boxBtnDos">
      <button class="btn" expand="">Acceder</button>
    </div>

   

    <div class="boxBtnTres">
       <a (click)="navRegistro()"  class="btn2" expand="">¿No tienes cuenta? Registrate aqui.</a>
    </div>

   

  </div>





</ion-content>