<ion-content [fullscreen]="true">

  <div class="contenedor">
    <div class="boxImg">
      <ion-img src="assets/img/barra.jpeg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    </div>

    <!-- <div class="boxInput">
      <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="ejemplo@ejemplo.cl"></ion-input>
    </div>

    <div class="boxInput">
      <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"
        placeholder=""></ion-input>
    </div> -->

    <div class="boxBtnDos">
      <ion-button expand="">Acceder</ion-button>
      <ion-button expand="">Acceder</ion-button>
    </div>


    <!-- <div class="boxBtn">
      <ion-button expand="block">Acceder</ion-button>
    </div> -->


  </div>





</ion-content>