<ion-content [fullscreen]="true" >
  <div class="contenedor">

    <p>Registrate aqui</p>

    <div class="boxInput">
      <ion-input label="Nombre" label-placement="floating" fill="outline"></ion-input>
    </div>
    <div class="boxInput">
      <ion-input label="Apellido" label-placement="floating" fill="outline"></ion-input>
    </div>

    <div class="boxInput">
      <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="ejemplo@ejemplo.cl"></ion-input>
    </div>
    <div class="boxInput">
      <ion-input label="Telefono" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </div>
    <div class="boxInput">
      <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"
        placeholder=""></ion-input>
    </div>
    <div class="boxInput">
      <ion-input label="Confirmar Contraseña" type="password" label-placement="floating" fill="outline"
        placeholder=""></ion-input>
    </div>
    <div class="boxBtnDos">
      <button class="btn" expand="">Registrarse</button>
    </div>


  </div>
</ion-content>